.bloco1 {
    display: inline-block;
    vertical-align: top;
    flex-direction: column;
    padding-left: 18%;
    padding-right: 15%;
    padding-bottom: 5%;
    padding-top: 5%;
}
.bloco1 h1 {
    font-weight: 700;
    font-size: 55px;
    line-height: 63px;
    color: #FF4081;
}

.bloco1 p {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    color: #000000;
}

.img {
    display: inline-block;
    margin-top: 5%;
}


.bloco{ 
    padding-left: 14%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom:2% ;
    padding-top:2%;
    background-color: #F7F7F7;
}

.bloco iframe {
    margin-left: 5%;
    margin-right: 17%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.bloco h2{
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
    display:flex;
   

}
.bloco p {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    display: flex;
    
}

hr{
background-color: #F7F7F7;;
   width: 90%;
 }